body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import "antd/dist/antd.css";
.container {
  width: 1180px;
  margin: auto;
}

.card {
  margin: 40px 0;
}
.btn {
  margin: 10px 0 30px 30px;
  display: block;
}

.padding {
  margin: 15px 0;
  padding: 0 30px;
}

.danger {
  color: red;
}
